body {
  margin: 0;
  padding: 0;
}
.app {
  background-color: #eaeaea;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}
.menu-bar {
  display: flex;
  background-color: #00bcd4;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
}
.menu-item {
  padding-left: 16px;
  padding-right: 16px;
}
.menu-item-link {
  color: rgba(0,0,0,0.67);
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
}
.content {
  padding: 16px;
  box-sizing: border-box;
}
.AboutPage {
  color: rgba(0,0,0,0.87);
  padding: 16px;
  box-sizing: border-box;
}
.text {
  color: #ff4081;
}
